body{
    font-family: "Roboto",sans-serif; 
color: #434455;
background-color:#fff;
}
h1,
h2,
h3,
p{
    margin: 0;
}
img{
    display: block;
}
.page-header .container{
    display: flex;
    width: 1158px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
align-items: center;
}
.container{

width: 1158px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.address{
    font-style: normal;
}
a{
    text-decoration: none;
    color: #2E2F42;
}
ul{
    list-style-type: none;
margin: 0;
padding-left: 0;
}
.page-header{
    border-bottom: 1px solid #e7e9fc
}

.navigation{
    display: flex;
    align-items: center;
}
.menu{
        display: flex;
        gap: 40px;
}

.link{    
    text-decoration: 0; 
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.logo-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}
span{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.nav-list{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.link:hover,
.link:focus{
    color: #404bbf;
}
.address-ul{
    display: flex;
    gap: 40px;
}
.address-ul:last-child {
    margin-right: 0;
}
.mail{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.mail-link{
    color:#434455;
}
.mail-link:hover,
.mail-link:focus{
color:#404bbf;
}
.main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}
.first-section{
    background-color: #2E2F42;
    height: 600px;
    padding: 188px 0;
    justify-content: center;
    align-items: center;
}
.main-section{
    background: #2e2f42;
   

}
button{
    cursor: pointer;
}
.title-button{
    display: block;
    background-color: #4D5AE5;
    max-width: 169px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
}
button:hover,
button:focus{
            background-color: #404BBF;
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.second-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.text-main{
    display: flex;
    gap: 24px;
}
.advantages-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.ioyu{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.ioyu-team{
font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}
h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;

}
.our-team{
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-card{
    margin-bottom: 72px;
}
.list{
    display: flex;
    gap: 24px;
}
.li-list{
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
}
.four-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.four-title{
    margin-bottom: 72px;
}
.four-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.four-li{
    width: calc((100% - 48px) / 3);
}
.your-team{
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
}
.list-container{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: white;
}
.list-item{
    width: calc((100% - 72px) / 4);
}
.four-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}




.footer{
    background: #2e2f42;
    padding: 100px 0;
}
.span-more{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;

}

.your-partfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    margin-bottom: 8px;
}
.span-more{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.paragraf{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}
.footer .logo-web{
    display: inline-block;
    margin-bottom: 16px;
}